@import url(fonds.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
/* Style header */

header {
  width: 100%;
  background-image: url(../pictures/castelmezzano-1979546\ 1.png);
  background-color:  rgba(18, 18, 18, 0.25);
  background-position: center;
  background-size: cover;
  height: 900px;
}

.container-header {
  max-width: 1264px;
  padding: 50px 105px 120px;
  margin: 0 auto;
}

.block-header-logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding-bottom: 202px;
}

.header-text {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
  text-decoration: none;
}

.header-text:hover::after {
  content: '';
  margin: 0 auto;
  height: 4px;
  background-color: #F5BD41;
  border: none;
  display: block;
  margin-top: 7px;
}

svg {
  fill: white;
}

svg:hover {
  fill:  #F5BD41;
}

.logo-vector {
  width: 205px;
  height: 40px;
  padding-right: 684px;
}

.block-header-stays {
  width: 60px;
  height: 28px;
}

.block-header-atractions {
  width: 118px;
  height: 28px;   
}

.block-header-night {
  height: 30px;
}

.block-header-accountcircle {
  width: 40px;
  height: 40px;
}

.block-header-data {
  width: 1232px;
  height: 487px;
  margin: 0 auto;
  display: flex;
}

.block-header-content-text {
  width: 542px;
  height: 118px;
  margin-bottom: 100px;
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  color: #FFFFFF;
}

.block-header-content {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  padding-bottom: 24px;
  width: 640px;
  height: 21px;
}

.header-label {
  display: flex;
}

.header-label-location  {
  padding-left: 24px;
  padding-right: 150px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
}
.header-label-data {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF; 
}

.header-text-content {
  padding-top: 24px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
}

.block-header-input {
  display: flex;
  flex-direction: row; 
  height: 64px;
  margin-bottom: 120px;
  background-color: #FFFFFF;
  border-radius: 8px;
}

input:focus{
  outline-color: #F5BD41;
  border: 3px solid #F5BD41;
  box-shadow:  1px 1px 2px 0 #F5BD41;
  }

input {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #383838;
  border-radius: 8px;
  border: 0;
}

.footer-submit {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #FFFFFF;
  background-color: #3077C6;
  width: 192px;
  border-radius: 8px;
} 

.input-text {
  width: 467px;
}

.input-date {
  border-right: 3px solid;
  border-left: 3px solid;
  width: 259px;

}

.input-texta {
  width: 314px;
}

.block-header-makret {
  display: flex;
  justify-content: center;

}

.header-makret-google {
  padding-right: 16px;
}

 /* Style What do we offer */

.container-advantages {
  max-width: 1232px;
  padding: 120px 16px;
  margin: 0 auto;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  color: #383838;
}

h2::after {
  background-color: #F5BD41;
  content: "";
  display: block;
  width: 10%;
  height: 4px;
  margin: 0 auto;
  border: none;
  margin-top: 20px;
  margin-bottom: 80px;
}

.block-image {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 8px;
  padding-right: 8px;
}

.row-advantages {
  display: flex;
  margin-left: -8px;
  margin-right: -8px;
}

.item-text {
  margin-top: 48px;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #383838;
}

/* Homes guests loves */

.container-background-home {
  background-color: #EAF0F9;
}

.container-home {
  max-width: 1232px;
  padding: 120px 0px;
  margin: 0 auto;
}

.row-advantages-home {
  display: flex;
  margin-left: -8px;
  margin-right: -8px;
}

.home-main-text {
  padding-top: 24px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: #3077C6;
}

.item-home {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 8px;
  padding-right: 8px;
}

.home-text {
  padding-top: 24px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: #BFBFBF;
}

/* Style footer */

footer {
  background-color: #10367C;
}

.footer-main-text {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #FFFFFF;
}

.footer-text {
  padding-top: 24px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #FFFFFF;
}

.container-footer {
  max-width: 1232px;
  padding: 120px 50px;
  margin: 0 auto;
}

.footer-pictures {
  display: none;
}

.row-footer {
  display: flex;
  justify-content: flex-start;
}

.about {
  display: flex;
  height: 211px;
  padding-right: 223px;
  flex-direction: column; 
}

.preperty-types {
  display: flex;
  height: 310px;
  padding-right: 283px;
  flex-direction: column;
}

.support{
  display: flex;
  height: 122px;
  flex-direction: column;
}

.data {
  padding-top: 64px;
} 

.data-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #FFFFFF;
}

/* media query */

@media (max-width:1200px) {
  .container-advantages {
    max-width: 970px;
  }
  .block-footer {
    max-width: 970px;
  }
  .footer-pictures {
    display: none;
  }

  .home-image img{
    max-width: 100%;
  }
}

@media (max-width:992px) {
  header {
    display: none;
  }

  .container-advantages {
    max-width: 750px;
  }
  .block-footer {
    max-width: 750px;
  }
  .footer-pictures {
    display: none;
  }

  .home-image img{
    max-width: 100%;
  }
}

@media (max-width:767px) {
  header {
    display: none;
  }

  .container-advantages {
    max-width: none;
    padding: 24px 73px;
  }

  .block-footer {
    max-width: none;
    padding: 40px 67px;
  }
  
  h2 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 33px;
    margin-bottom: 35px;
  }
  h2::after {
    display: none;
  }
 
  .row-advantages {
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-content: center;
  }

  .block-image {
    width: auto;
    height: auto;
  }

  .item {
    width: auto;
    padding-bottom: 30px
  }
  
  .item-text {
    margin-top: 19px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
  }
  .image-support {
    width: 52px;
    height: 64px;
  }
  
  .image-communicate {
    width: 58px;
    height: 58px;
  }

  .image-book {
    width: 70px;
    height: 46px;
  }

  .image-guest {
    width: 64px;
    height: 58px;
  }
  
  .footer-pictures {
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
  }
  .about {
    padding-right: 16px;
    height: auto;
  }

  .preperty-types {
    padding-right: 16px;
    height: auto;
  }

  .support {
    height: auto;
  }

  .data {
    display: flex;
    justify-content: center;
  }
  
  .row-footer {
    justify-content: center;
    height: 20px;
  }
  .footer-main-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    text-decoration: underline;
  }
  .data {
    padding-top: 32px;
  }

  .data-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
  }

  .footer-text {
    display: none;
  }

  .container-home {
    max-width: none;
    padding: 40px 17px;
  }

  .row-advantages-home {
    display: flex;
    margin-left: -8px;
    margin-right: -8px;
  }
  
  .home-image img{
    width: auto;
  }

  .home-main-text {
    padding-top: 8px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
  }

  .home-text {
    padding-top: 4px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
  }

  .item-home {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .item-home:nth-child(3) {
    display: none;
  }

  .item-home:nth-child(4) {
   display: none;
  }
} 
