@import url(fonds.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.block-advantages {
  width: 1264px;
  padding: 120px 16px;
  margin: 0 auto;
}
h2 {
  text-align: center;
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  color: #383838;
}

h2::after {
  background-color: #F5BD41;
  content: "";
  display: block;
  width: 100px;
  height: 4px;
  margin: 0 auto;
  border: none;
  margin-top: 20px;
  margin-bottom: 80px;
}

.block-image {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 8px;
  padding-right: 8px;
}

.row-advantages {
  display: flex;
  margin-left: -8px;
  margin-right: -8px;
}

.item-text {
  margin-top: 48px;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #383838;
}

footer {
  background-color: #10367C;
}

.footer-main-text {

  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #FFFFFF;
}

.footer-text {
  padding-top: 24px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #FFFFFF;
}

.block-footer {
  width: 1264px;
  padding: 120px 50px;
  margin: 0 auto;
}

.row-footer {
  display: flex;
  justify-content: flex-start;
  margin-left: -8px;
  margin-right: -8px;
}

.about {
  display: flex;
  height: 211px;
  padding-right: 223px;
  flex-direction: column; 
}

.preperty-types {
  display: flex;
  height: 310px;
  padding-right: 283px;
  flex-direction: column;
}

.support{
  display: flex;
  height: 122px;
  flex-direction: column;
}

.data {
  padding-top: 64px;
  margin-left: -8px;
  margin-right: -8px;
}

.data-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #FFFFFF;
}